body {

}

[sv-handle] {
  cursor: move;
}

.td__name {
  width: 20%;
}
.td__price {
  width: 10%;
}
.td__description {
  width: 50%
}
.td__action {
  width: 20%;
}

table {
  border: 1px solid #ddd;
}

.sv-helper {
  background: rgba(0,0,0, .1);
}

.form-control {
  font-size: 12px;
}

textarea.form-control {
  line-height: 16px;
}

