<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/ipad/2">ipad 2</a></li>
  <li ui-sref-active="active"><a href="#/ipad/3">ipad 3</a></li>
  <li ui-sref-active="active"><a href="#/ipad/4">ipad 4</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini">ipad Mini</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini2">ipad Mini 2</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini3">ipad Mini 3c</a></li>
  <li ui-sref-active="active"><a href="#/ipad/air">ipad Air</a></li>
  <li ui-sref-active="active"><a href="#/ipad/air2">ipad Air 2</a></li>
</ul>