<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/ipad/2">ipad 2</a></li>
  <li ui-sref-active="active"><a href="#/ipad/3">ipad 3</a></li>
  <li ui-sref-active="active"><a href="#/ipad/4">ipad 4</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini">ipad Mini</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini2">ipad Mini 2</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini3">ipad Mini 3</a></li>
  <li ui-sref-active="active"><a href="#/ipad/air">ipad Air</a></li>
  <li ui-sref-active="active"><a href="#/ipad/air2">ipad Air 2</a></li>
  <li ui-sref-active="active"><a href="#/ipad/mini4">ipad Mini 4</a></li>
  <li ui-sref-active="active"><a href="#/ipad/pro129">ipad Pro 12,9”</a></li>
  <li ui-sref-active="active"><a href="#/ipad/pro97">ipad Pro 9,7”</a></li>
  <li ui-sref-active="active"><a href="#/ipad/new2017">ipad new 2017”</a></li>
  <li ui-sref-active="active"><a href="#/ipad/pro105">ipad 10,5 ”</a></li>
</ul>