<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/iphone/3">iPhone 3gs</a></li>
  <li ui-sref-active="active"><a href="#/iphone/4">iPhone 4</a></li>
  <li ui-sref-active="active"><a href="#/iphone/4s">iPhone 4s</a></li>
  <li ui-sref-active="active"><a href="#/iphone/5">iPhone 5</a></li>
  <li ui-sref-active="active"><a href="#/iphone/5s">iPhone 5s</a></li>
  <li ui-sref-active="active"><a href="#/iphone/5c">iPhone 5c</a></li>
  <li ui-sref-active="active"><a href="#/iphone/6">iPhone 6</a></li>
  <li ui-sref-active="active"><a href="#/iphone/6 Plus">iPhone 6 Plus</a></li>
  <li ui-sref-active="active"><a href="#/iphone/6s">iPhone 6s</a></li>
  <li ui-sref-active="active"><a href="#/iphone/6s Plus">iPhone 6s Plus</a></li>
  <li ui-sref-active="active"><a href="#/iphone/se">iPhone SE</a></li>
  <li ui-sref-active="active"><a href="#/iphone/7">iPhone 7</a></li>
  <li ui-sref-active="active"><a href="#/iphone/7 Plus">iPhone 7 Plus</a></li>
</ul>