<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/iwatch/38">iWatch 38mm</a></li>
  <li ui-sref-active="active"><a href="#/iwatch/42">iWatch 42mm</a></li>
  <li ui-sref-active="active"><a href="#/iwatch/238">iWatch 2 38mm</a></li>
  <li ui-sref-active="active"><a href="#/iwatch/242">iWatch 2 42mm</a></li>
  <li ui-sref-active="active"><a href="#/iwatch/338">iWatch 3 38mm</a></li>
  <li ui-sref-active="active"><a href="#/iwatch/342">iWatch 3 42mm</a></li>
</ul>