<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/macbook-pro/a1150">A1150</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1151">A1151</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1211">A1211</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1212">A1212</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1226">A1226</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1229">A1229</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1260">A1260</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1260">A1260</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1278">A1278</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1286">A1286</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1297">A1297</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1398">A1398</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1425">A1425</a></li>
  <li ui-sref-active="active"><a href="#/macbook-pro/a1502">A1502</a></li>
</ul>