<header ng-include="'templates/nav.html'"></header>
<ul class="nav nav-pills">
  <li ui-sref-active="active"><a href="#/macbook-air/a1237">A1237</a></li>
  <li ui-sref-active="active"><a href="#/macbook-air/a1304">A1304</a></li>
  <li ui-sref-active="active"><a href="#/macbook-air/a1369">A1369</a></li>
  <li ui-sref-active="active"><a href="#/macbook-air/a1370">A1370</a></li>
  <li ui-sref-active="active"><a href="#/macbook-air/a1465">A1465</a></li>
  <li ui-sref-active="active"><a href="#/macbook-air/a1466">A1466</a></li>

</ul>